.header-wrapper {
    width: 100%;



    .header-main {
        width: 100%;
        color: var(--c_white-default);

        margin: 0 auto;
        // height: 56px;
        min-height: 56px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            width: 205px;
            display: block;

            img {
                width: 100%;
                height: 40px;
                object-fit: cover;


            }

        }


        .header-cat {
            width: 100%;
            margin-top: 20px;
            background-color: var(--c_green_default);
            border-radius: 5px;
            box-shadow: 0 4px 6px #ccc;
        }


    }



}