.control-oder-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border: 1px solid #c4c4c4;

    .control {

        width: 35px;
        height: 35px;

        &--less {}

        &--plus {}

        &__input {

            width: 65px;
            height: 35px;
        }
    }


}