

 :root{
--font-main:"font-main";
--font-first:"font-first";
--font-first-i:"font-first-italic";
--font-second:"font-second";
--font-third:"font-third";

 }





@font-face{

    src: url("font/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf");
    font-family:--font-main ;  
  
}
@font-face{

    src: url("./font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    font-family:--font-first-i ;  
  
}
@font-face{

    src: url("./font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
    font-family:--font-first ;  
  
}
@font-face{

    src: url("font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
    font-family:--font-second ;  
    
  
}



@font-face{

    src: url("font/Lobster/Lobster-Regular.ttf");
    font-family:--font-third ;  
    
  
}


