 

@import "./reset.scss";
@import "./font.scss";





:root{
  --b-white:#f4f4f4;
   --font-size-defalt:1.6rem;
   --c_red-default:#f00;
   --c_green_default:#00483d;
   --c_green_second:#00917a;
   --c_yellow_default:#f7941e;
   --c_white_default:#fff;

   --c_black_default:#000;


   --w_main-layout:87%;
}


// @font-face{

//   src: url("font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
//   font-family:"font1" ;  

// }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-defalt);
    font-family:"font8";
    color: --red-default;
    font-weight:100;
    
    
   
   
   
    
 }


 html{
    font-size: 10px;
 }


 body{
   width: 100%;
   background-color: var( --b-white);
   
 }

// #root{
//   background-color: var(--b-white);

// }

 input,button{
   outline: none;
   border: none;
   

 }

 button{
   cursor: pointer;
 }

 a{
    color: black;
    text-decoration: none;

 }

 ul{
   list-style: none;
 }
