


.home-wrapper{
    margin: 0 auto;
    width: var(--w_main-layout);

   

}

.home__slider{
    margin-top: 20px;
}

.home__sub-banner{
    margin: 30px 0;
}

.home__product{
    margin: 30px 0;
}
