.header-search {

  display: flex;

  --padding-search-input: 10px;
  margin-left: 50px;

  &__btn {
    margin-left: 15px;
  }

  &__input {

    position: relative;
    border-radius: 10px;



  }

  &__input+* {
    margin-left: 20px;
  }

  input {
    width: 100%;
    padding: var(--padding-search-input);







  }

  ::-webkit-input-placeholder {
    font-size: 14px;
    font-family: var(--font-third);



  }


  .spin-wrapper {


    width: 50px;
    display: flex;
    align-items: center;
  }


  &__spin {

    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {

      background-color: var(--c_green_default) !important;
    }

  }








}



.header-search__result,
.header-search__input {

  width: 550px;

}