.header-search{
    width: 496px;
    display: flex;
    --padding-search-input:10px;

      input{
        width: 600px;
        padding: var(--padding-search-input);
        box-shadow: 0 4px 6px #ccc;
        border-radius: 10px;
        outline:  none;
        border: none;

     
        
      }
      ::-webkit-input-placeholder{
        font-size: 14px;
        font-family: var(--font-third);
       
        
            }

      button{
          
        padding: var(--padding-search-input);
        background-image: linear-gradient(#00917a,var(--c_green_default));
        border-radius: 10px;
        margin-left: 15px;
      }
}