.header-nav{
  
  
     flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  
   &__item{
         

       &:not(:nth-last-child(1)){
        margin-right: 10px;

   
       }


   }
}