.item{

display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
background-color: var(--c_green_default);
border-radius: 8px;
padding: 4px 10px;
cursor: pointer;
color: #fff;
 &:not(:nth-last-child(1)){
    margin-right: 10px;
  
 }



    
}
.item_icon{
   width: 100%;  
   text-align: center;
   font-size: 0.7rem;

   



}
.item_title{
    font-size: 1.2rem;
    margin-top: 2px;

}