:root {
   --spacing-product-item: 5px
}


.product-wrapper {
   padding: 20px 0;

   .product-header {

      width: 30%;
      margin-bottom: 20px;
   }

   .product-main {

      display: flex;
      flex-wrap: wrap;

      justify-content: flex-start;
      margin: 0px calc(var(--spacing-product-item) * (-1));

   }

   .product__load-more {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      text-align: center;

   }

}