.product-item-wrapper {





  //  width: 20%;
  margin: var(--spacing-product-item);
  width: calc(20% - (var(--spacing-product-item)*2));




  .product-item {
    background-color: var(--c_white_default);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    font-family: "font5";
    border-radius: 15px;



    &__img {
      margin-top: 5px;
      height: 185px;
      width: 100%;
      transform-origin: 50% 50%;
      transition: transform 0.5s linear;


      &:hover {

        // transform: rotate3d(0, 0, 1,360deg);
        // transform: rotate3d(160deg);
        transform: scale(1.1);


      }









    }


    &__title {
      margin: 10px 0;
      // font-family: "font6";
      color: var(--c_black_default);
      font-weight: 100;
      height: 60px;
      font-size: 1.7rem;



      display: -webkit-box;
      text-align: center;
      line-height: 1.8;
      -webkit-line-clamp: 2;
      /* số dòng hiển thị */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;


      cursor: pointer;
      font-family: inherit;
      // display: flex;
      align-items: center;







    }

    &__price {
      font-family: inherit;
      text-align: center;

      font-family: "font1";
      width: 100%;
      display: flex;
      justify-content: space-around;




      .price--old {
        flex: 1;
        font-size: 1.6rem;
        text-decoration: line-through;


      }


      .price--new {
        flex: 1;
        font-size: 1.6rem;
        color: var(--c_red-default);

      }

    }

    &__btn {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 5px;

      .btn-wrapper {}

    }

  }


  &.slider-style {

    margin: unset;
    width: unset;

    .product-item {

      &__title {

        // text-align: center;

        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
      }



      &__price {
        font-family: inherit;





        .price--old {
          flex: 1;
          font-size: 1.9rem;
          text-decoration: line-through;


        }


        .price--new {
          flex: 1;
          font-size: 1.9rem;
          color: var(--c_red-default);

        }



      }
    }







  }

  &.cart-style {

    margin: unset;
    width: unset;

    .product-item__img {
      width: 170px;
      height: 220px;

    }

    .product-item__btn {
      display: none;

    }


    .product-item__price {
      font-family: inherit;





      .price--old {
        flex: 1;
        font-size: 1.6rem;
        text-decoration: line-through;


      }


      .price--new {
        flex: 1;
        font-size: 1.8rem;
        color: var(--c_red-default);

      }



    }
  }
}


// @keyframes rotateImgProduct{

//     0%{
//         transform:  rotate3d(0);
//     }
//     100%{

//         transform: rotate3d(2, -1, -1, -0.2turn);
//     }

// }